*
{
    font-family: Georgia;
    text-align: center;
}

.baner,.stopka 
{
    clear: both;
    background-color: #4BA3C7;
    color: white;
    height: 80px;
    font-size: 120%;
}

.lewy,.prawy
{
    float: left;
    background-color: #efefef;
    height: 400px;
    width: 25%;
}

.srodkowy
{
    float: left;
    background-color: #90caf9;
    height: 400px;
    width: 50%;
}

table
{
    margin-left: 10px;
    width: 90%;
    border: 1px solid #90caf9;
}

td
{
    margin: 5px;
    border: 1px solid #90caf9;
}

tr:hover
{
    color: #90caf9;
}

input
{
    margin-top: 15px;
    margin-bottom: 15px;
}